{% macro bareboat_merchant_vessel_material(data, name, classes, jsonPath, id, value, description, labelClass, required) %}
{% set options = [{"name":"Steel","value":"Steel"}] %}
{% set favourites = undefined %}
{% set favouriteKeys = [] %}
{% from "select.html" import select %}
{{ select(id if id else 'bareboat.merchant.vessel.material', name=name, value=value if value else data.bareboat.merchant.vessel.material, options=options, required=required, description=description, labelClass=labelClass, favourites=favourites, favouriteKeys=favouriteKeys) }}
{% endmacro %}
